@font-face {
    font-family: 'Gabriela'; /* Имя шрифта (потом используем его) */
    src: url('./fonts/Gabriela-Regular.ttf') format('truetype'); /* Путь до файла */
    font-weight: normal; /* Настройка веса */
    font-style: normal; /* Стиль шрифта */
}

.catalog {
    padding: 40px 20px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.catalog-title {
    font-family: 'Baloo2', 'Gabriela';


    font-size: 4vw;
    font-weight: 600;
    color: #28460b;
    text-align: center;
    margin-bottom: 20px;
}
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1400px;
    padding: 0 10px;
}
.catalog-card {
    background: #fafaf8;
    border: 2px solid #cce1cb;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 500px;
    width: 100%;
}

.catalog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.catalog-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background: #e0e0df;
}
.catalog-card-content {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}
.catalog-card-title {
    font-family: 'Baloo2', 'Gabriela';
    font-size: 1.5rem;
    color: #28460b;
    margin: 0 0 10px;
    white-space: nowrap;
    max-width: 90%;
}
.catalog-card-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #28460b;
}
.catalog-card-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    background: linear-gradient(135deg, #bfc8c0, #e0ddd0, #f5f4eb);
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-top: 15px;
    font-family: 'Baloo2', 'Gabriela';
}

.catalog-card-link:hover {
    background: linear-gradient(135deg, #f5f4eb, #e0ddd0, #bfc8c0);
    transform: scale(1.05);
}
.no-results {
    grid-column: span 3;
    color: #9b9b9b;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}
.catalog-filters {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.catalog-search-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
}

.catalog-search {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #28460b;
}

.catalog-search::placeholder {
    color: #a3b7a1;
}
.catalog-category-filter {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
}

.catalog-category-select {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #cce1cb;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.2s ease;
}

.catalog-category-select:focus {
    border-color: #91c283;
    box-shadow: 0 0 5px rgba(145, 194, 131, 0.5);
}
@media screen and (max-width: 1024px) {
    .catalog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .catalog-grid {
        grid-template-columns: 1fr;
    }

    .catalog-filters {
        flex-direction: column;
        align-items: center;
    }

    .catalog-search-container,
    .catalog-category-filter {
        width: 100%;
        max-width: 300px;
    }
}